<?xml version="1.0" encoding="utf-8" ?>
<disqus xmlns="http://disqus.com" xmlns:dsq="http://disqus.com/disqus-internals"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://disqus.com/api/schemas/1.0/disqus.xsd http://disqus.com/api/schemas/1.0/disqus-internals.xsd">
	<category dsq:id="9509746">
		<forum>
			qwqcode
		</forum>
		<title>
			General
		</title>
		<isDefault>
			true
		</isDefault>
	</category>
	<thread dsq:id="8847338742">
		<id />
		<forum>
			qwqcode
		</forum>
		<category dsq:id="9509746" />
		<link>
		http://127.0.0.1:5500/disqus.html
		</link>
		<title />
		<message />
		<createdAt>
			2021-10-27T01:04:20Z
		</createdAt>
		<author>
			<name>
				qwqcode
			</name>
			<isAnonymous>
				false
			</isAnonymous>
			<username>
				disqus_fB3WE9P5tA
			</username>
		</author>
		<isClosed>
			false
		</isClosed>
		<isDeleted>
			false
		</isDeleted>
	</thread>
	<post dsq:id="5585802847">
		<id />
		<message>
			<![CDATA[<p>test!</p>]]>
		</message>
		<createdAt>
			2021-10-27T01:04:29Z
		</createdAt>
		<isDeleted>
			false
		</isDeleted>
		<isSpam>
			false
		</isSpam>
		<author>
			<name>
				qwqcode
			</name>
			<isAnonymous>
				false
			</isAnonymous>
			<username>
				disqus_fB3WE9P5tA
			</username>
		</author>
		<thread dsq:id="8847338742" />
	</post>
	<post dsq:id="5585802959">
		<id />
		<message>
			<![CDATA[<p>aha</p>]]>
		</message>
		<createdAt>
			2021-10-27T01:04:37Z
		</createdAt>
		<isDeleted>
			false
		</isDeleted>
		<isSpam>
			false
		</isSpam>
		<author>
			<name>
				qwqcode
			</name>
			<isAnonymous>
				false
			</isAnonymous>
			<username>
				disqus_fB3WE9P5tA
			</username>
		</author>
		<thread dsq:id="8847338742" />
		<parent dsq:id="5585802847" />
	</post>
	<post dsq:id="5585809939">
		<id />
		<message>
			<![CDATA[<p>hahaha</p>]]>
		</message>
		<createdAt>
			2021-10-27T01:12:58Z
		</createdAt>
		<isDeleted>
			false
		</isDeleted>
		<isSpam>
			false
		</isSpam>
		<author>
			<name>
				what？
			</name>
			<isAnonymous>
				true
			</isAnonymous>
		</author>
		<thread dsq:id="8847338742" />
	</post>
	<post dsq:id="5822089611">
		<id />
		<message>
			<![CDATA[<p>testReply</p>]]>
		</message>
		<createdAt>
			2022-04-09T12:47:21Z
		</createdAt>
		<isDeleted>
			false
		</isDeleted>
		<isSpam>
			false
		</isSpam>
		<author>
			<name>
				qwqcode
			</name>
			<isAnonymous>
				false
			</isAnonymous>
			<username>
				disqus_fB3WE9P5tA
			</username>
		</author>
		<thread dsq:id="8847338742" />
		<parent dsq:id="5585802959" />
	</post>
</disqus>
