* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  --bgColor: #f8fafc;
  --textColor: #5f6368;
  --accentTextColor: #000;
  --blockColor: #fff;
  --blockBorderColor: #dadce0;
  --blockBorderFocusColor: #000;
  --bgBlackColor: #000;
  --blueColor: rgb(29, 155, 240);

  background: var(--bgColor);
  color: var(--textColor);
}

body.dark-mode {
  --bgColor: #22272e;
  --textColor: #fff;
  --accentTextColor: #fff;
  --blockColor: #000;
  --blockBorderColor: #2d3235;
  --blockBorderFocusColor: #0083ff;
  --bgBlackColor: #5f6368;
  --blueColor: #558fb5;
}

body.iframe-mode {
  header {
    display: none;
  }
}

main {
  overflow: hidden;
  margin: 40px auto;
  max-width: 1200px;
}

header {
  margin-bottom: 60px;
  text-align: center;
  color: var(--accentTextColor);

  .title {
    font-size: 2.4em;
    font-weight: normal;
    margin: 0;
  }

  .sub {
    font-size: 1.2em;
    margin: 20px 0 0 0;
  }
}

@media only screen and (max-width: 1100px) {
  main {
    max-width: 100%;
    margin: 0 auto;
  }

  header {
    margin-top: 40px;
    margin-bottom: 10px;
  }
}

.workbench {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .to-icon {
    min-width: 40px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%235f6368'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z'/%3E%3C/svg%3E");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .block {
    min-width: 500px;

    .inner {
      margin: 20px;
      border-radius: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 350px;
      border: 1px solid var(--blockBorderColor);
      background: var(--blockColor);
    }

    .form-grp {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 80%;

      &:not(:last-child) {
        margin-bottom: 40px;
      }

      label {
        margin-right: 25px;
        width: 4em;
      }
    }
  }

  @media only screen and (max-width: 1100px) {
    flex-direction: column;

    .block {
      min-width: 100%;

      .inner {
        height: 200px;
      }
    }

    .to-icon {
      height: 40px;
      transform: rotate(90deg);
    }
  }

  .desc {
    font-size: .9em;
    color: var(--accentTextColor);
  }

  select {
    min-width: 130px;
    line-height: 30px;
    padding: 0 10px;
    border-radius: 20px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-position-x: calc(100% - 12px);
    background-position-y: 50%;
    background-repeat: no-repeat;
    appearance: none;
    background-size: 16px 12px;
    outline: none;
    background-color: var(--bgColor);
    color: var(--textColor);
    border: 2px solid var(--blockBorderColor);

    &:focus {
      border-color: var(--blockBorderFocusColor);
    }
  }

  input[type="file"] {
    width: calc(100% - 4em - 60px);
  }

  ::-webkit-file-upload-button {
    border-radius: 50px;
    background: var(--bgBlackColor);
    border: 2px solid var(--bgBlackColor);
    color: #fff;
    padding: 0 15px;
    line-height: 30px;
    margin-right: 10px;
    cursor: pointer;
    transition: .2s ease;

    &:hover {
      opacity: .8;
    }
  }

  .export-btn {
    cursor: pointer;
    color: #fff;
    background-color: var(--blueColor);
    border: 0;
    box-shadow: rgba(0, 0, 0, 8%) 0px 8px 28px;
    padding: 20px 30px;
    border-radius: 50px;
    font-size: 1em;
    transition: .2s ease;
    opacity: .9;

    &:hover {
      opacity: 1;
    }
  }
}
